@use '../config/fonts';
@use '../config/colors';
@use '../functions/rem-convert';

@mixin link {
    font: $main-font;
    font-size: rem(20px);
    color: $color-primary;
}

@mixin text {
    font: $main-font;
    font-size: rem(16px);
    color: $color-darkgray;
}
