@use '../../styles' as *;

.navbar {
    list-style-type: none;
    padding: rem(15px);
    display: flex;
    background-color: $color-darkgray;

    li a {
        padding: rem(5px) rem(15px);
        display: inline-block;
        @include link;
    }
}
